<!DOCTYPE html>
<html lang="en">

{%- include head.html -%}

    <div class="home">
        <div class="page-heading">
            <h1 id="typed"></h1>
        </div>
        <div class="page-content">
            <div class="project-grid">
                <!-- projects here -->
                {% for project in site.data.projects %}
                <a href="{{ project.repo }}" class="project-tile" style="background-image: url('{{ project.image }}');">
                    <div class="project-info">
                        <h2>{{ project.title }}</h2>
                        <p>{{ project.description }}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <!-- Custom script to initialize Typed.js and handle fade-in effect -->
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var typed = new Typed('#typed', {
          strings: ['^1200hana^100f^100i^100.^300dev^500'],
          typeSpeed: 100,
          onComplete: function() {
            document.querySelector('.project-grid').classList.add('fade-in');
          }
        });
      });
    </script>

</html>